<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Vue EXAMPLE</title>
        <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js">
        </script>
    </head>
    <body>
        <div id="app">
            <p v-if="seen">Now, you saw me</p>
            <template v-if="ok">
                <h1>Hello, vue</h1>
                <p>
                    Not only learning technology, but also dreaming!
                </p>
                <p>Hahaha</p>
            </template>
        </div>
    <script>
        new Vue(
            {
                el: '#app',
                data: {
                    seen: true,
                    ok: true
                }
            }
        )
    </script>
    </body>
</html>